.gamepiece  {
    width: 20px;
    height: 20px;
    background-color: grey;
}

.blah {
    max-width: 160px;

}

.gamepiece:focus {
    outline: 0;
}

.clicked {
    background-color: yellow;
}

.notbomb {
    background-color: green;
}

.conor {
    background-color: green;
}

img {
    width: 10px;
    height: 10px;
}

button {
    align: center;

}
